.dadata {
   
}

.dropdown-inn {
    width: 95%;
    height: 300px;
    overflow: auto;
    margin-left: 12px!important;
}

.dadata-response-inn {
    color: blue;
}

.dadata-item {
    padding: 15px;
    cursor: pointer;
}
.dadata-item:hover {
    background: #00000005;
}

.dadata > hr {
    margin: 0!important;
}

.dadata-item > p {
    margin: 0!important;
}

.isDisabled > a:hover, .isDisabled > a:focus, .isDisabled > a:active , .isDisabled .share-2:hover{
    color: #4B4B5A!important;
    background-color: transparent!important;
}

.isDisabled {
    color: #4B4B5A!important;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

/* .isDisabled:hover {
    color: #4B4B5A;
    background-color: transparent;
}

.isDisabled:active {
    background-color: transparent;
} */